@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: BigJohn;
  src: url(bigjohn.otf);
}

* {
  padding: 0;
  margin: 0;
  color: black;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes headerFooterAnimation {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes headerFooterAnimation {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes controlAnimation {
  from {
    opacity: 0;
    -webkit-transform: translatex(150px);
            transform: translatex(150px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
}

@keyframes controlAnimation {
  from {
    opacity: 0;
    -webkit-transform: translatex(150px);
            transform: translatex(150px);
  }
  to {
    opacity: 1;
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
}

@-webkit-keyframes mainAnimation {
  from {
    opacity: 0;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes mainAnimation {
  from {
    opacity: 0;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

body, body.bodyLightMode {
  background-image: linear-gradient(145deg, #ffffff, #DFDFDF);
}

body h1, body h2, body h3, body h4, body.bodyLightMode h1, body.bodyLightMode h2, body.bodyLightMode h3, body.bodyLightMode h4 {
  font-family: BigJohn;
}

body p, body.bodyLightMode p {
  font-size: 1rem;
  line-height: 1.6rem;
}

body img, body.bodyLightMode img {
  width: 100%;
}

body .btn-blue, body.bodyLightMode .btn-blue {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 60px;
  border-radius: 8px;
  text-align: center;
  font-family: BigJohn;
  text-transform: uppercase;
  background-color: #00439C;
  color: #F1F1F1;
  text-decoration: none;
  padding: 20px;
  cursor: pointer;
  opacity: 0;
  -webkit-animation: mainAnimation 1s normal;
          animation: mainAnimation 1s normal;
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body .btn-blue:hover, body.bodyLightMode .btn-blue:hover {
  top: -5px;
  -webkit-transition: top .3s;
  transition: top .3s;
}

body .container, body.bodyLightMode .container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body .container .header, body.bodyLightMode .container .header {
  z-index: 5;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-animation: headerFooterAnimation .8s normal;
          animation: headerFooterAnimation .8s normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body .container .header .btnMenuBar, body.bodyLightMode .container .header .btnMenuBar {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 5;
}

body .container .header .btnMenuBar :nth-child(2), body.bodyLightMode .container .header .btnMenuBar :nth-child(2) {
  width: 18px;
  margin-left: calc(100% - 18px);
}

body .container .header .btnMenuBar :nth-child(3), body.bodyLightMode .container .header .btnMenuBar :nth-child(3) {
  width: 25px;
  margin-left: calc(100% - 25px);
}

body .container .header .btnMenuBar span, body.bodyLightMode .container .header .btnMenuBar span {
  position: relative;
  display: block;
  border-radius: 2px;
  height: 5px;
  background-color: #222222;
}

body .container .header .btnMenuActive :first-child, body.bodyLightMode .container .header .btnMenuActive :first-child {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  width: 100%;
}

body .container .header .btnMenuActive :nth-child(2), body.bodyLightMode .container .header .btnMenuActive :nth-child(2) {
  background-color: transparent;
}

body .container .header .btnMenuActive :last-child, body.bodyLightMode .container .header .btnMenuActive :last-child {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  top: -20px;
  width: 100%;
  margin: 0;
}

body .container .header .btnMenuActive span, body.bodyLightMode .container .header .btnMenuActive span {
  background-color: #F1F1F1;
  -webkit-transition: 1s;
  transition: 1s;
}

body .container .header nav, body.bodyLightMode .container .header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #00439C;
  width: 100vw;
  left: 0;
  top: -600px;
}

body .container .header nav a, body.bodyLightMode .container .header nav a {
  display: inline-block;
  margin-bottom: 15px;
  padding: 30px 0;
  text-align: center;
  text-decoration: none;
  color: #F1F1F1;
  font-size: 1.2rem;
}

body .container .header nav ::after, body.bodyLightMode .container .header nav ::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.05)), to(transparent));
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), transparent);
  left: 0;
  bottom: -50px;
}

body .container .header .menuActived, body.bodyLightMode .container .header .menuActived {
  top: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

body .container main, body.bodyLightMode .container main {
  padding: 20px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container main .main-text, body.bodyLightMode .container main .main-text {
  z-index: 1;
}

body .container main .main-text h1, body.bodyLightMode .container main .main-text h1 {
  font-size: 1.75rem;
  position: relative;
  line-height: 2.1rem;
  margin-bottom: 1.875rem;
  letter-spacing: 2px;
  opacity: 0;
  -webkit-animation: mainAnimation 1s normal;
          animation: mainAnimation 1s normal;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body .container main .main-text h1 br, body.bodyLightMode .container main .main-text h1 br {
  display: none;
}

body .container main .main-text h1 b, body.bodyLightMode .container main .main-text h1 b {
  color: #00439C;
}

body .container main .main-text p, body.bodyLightMode .container main .main-text p {
  margin-bottom: 3.75rem;
  opacity: 0;
  -webkit-animation: mainAnimation 1s normal;
          animation: mainAnimation 1s normal;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body .container main .controle, body.bodyLightMode .container main .controle {
  position: absolute;
  width: 100%;
  height: 300px;
  left: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  top: calc(100vh - 300px);
  z-index: -1;
  opacity: 0;
  -webkit-animation: controlAnimation 1s normal;
          animation: controlAnimation 1s normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

body .container main .controle img, body.bodyLightMode .container main .controle img {
  position: absolute;
  display: block;
  width: 800px;
  bottom: -300px;
  left: -100px;
  z-index: -1;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

body .container footer, body.bodyLightMode .container footer {
  display: block;
  position: absolute;
  padding: 20px;
  bottom: 0;
  margin-bottom: 0;
  background-color: #00439C;
  width: 100%;
  opacity: 0;
  -webkit-animation: headerFooterAnimation .8s normal;
          animation: headerFooterAnimation .8s normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

body .container footer ::before, body.bodyLightMode .container footer ::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.13)));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.13));
  left: 0;
  top: -50px;
}

body .container footer :nth-child(1), body.bodyLightMode .container footer :nth-child(1) {
  background-color: #F1F1F1;
}

body .container footer :nth-child(2), body.bodyLightMode .container footer :nth-child(2) {
  background-color: #222222;
}

body .container footer .colorOption, body.bodyLightMode .container footer .colorOption {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  margin-right: 20px;
  cursor: pointer;
}

body .container footer .selectedOpition, body.bodyLightMode .container footer .selectedOpition {
  border: 3px solid #222222;
}

body.bodyDarkMode {
  background-image: linear-gradient(145deg, #2A2D33, #181A1E);
}

body.bodyDarkMode h1, body.bodyDarkMode p {
  -webkit-transition: 1s;
  transition: 1s;
  color: #F1F1F1;
}

body.bodyDarkMode footer, body.bodyDarkMode .header nav {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #16181C;
}

body.bodyDarkMode .header .btnMenuBar span {
  background-color: #F1F1F1;
}

body.bodyDarkMode footer .selectedOpition {
  border: 3px solid #00439C;
}

@media screen and (min-width: 700px) {
  body .container .header, body.bodyLightMode .container .header, body.bodyDarkMode .container .header {
    padding: 50px 0;
  }
  body .container .header nav, body.bodyLightMode .container .header nav, body.bodyDarkMode .container .header nav {
    padding: 50px 0 40px;
  }
  body .container .header, body .container main, body .container footer, body.bodyLightMode .container .header, body.bodyLightMode .container main, body.bodyLightMode .container footer, body.bodyDarkMode .container .header, body.bodyDarkMode .container main, body.bodyDarkMode .container footer {
    padding-left: 60px;
    padding-right: 60px;
  }
  body .container main, body.bodyLightMode .container main, body.bodyDarkMode .container main {
    position: relative;
    height: 50%;
    margin-top: 0;
    top: 0;
  }
  body .container main .main-text h1, body.bodyLightMode .container main .main-text h1, body.bodyDarkMode .container main .main-text h1 {
    font-size: 2.18rem;
    line-height: 3rem;
    margin-bottom: 2.8rem;
  }
  body .container main .main-text h1 br, body.bodyLightMode .container main .main-text h1 br, body.bodyDarkMode .container main .main-text h1 br {
    display: inline;
  }
  body .container main .main-text p, body.bodyLightMode .container main .main-text p, body.bodyDarkMode .container main .main-text p {
    font-size: 1.3rem;
    line-height: 1.9rem;
    margin-bottom: 4.3rem;
  }
  body .container main .controle, body.bodyLightMode .container main .controle, body.bodyDarkMode .container main .controle {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 650px;
    width: 100%;
    top: calc(100vh - 825px);
  }
  body .container main .controle img, body.bodyLightMode .container main .controle img, body.bodyDarkMode .container main .controle img {
    width: 110vw;
    position: relative;
    bottom: -80px;
    left: auto;
    -webkit-filter: none;
            filter: none;
  }
  body .container footer, body.bodyLightMode .container footer, body.bodyDarkMode .container footer {
    margin-bottom: 0;
    bottom: 0;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 1024px) and (max-height: 800px) {
  body .container .header, body.bodyLightMode .container .header, body.bodyDarkMode .container .header {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 60px;
  }
  body .container .header .btnMenuBar, body.bodyLightMode .container .header .btnMenuBar, body.bodyDarkMode .container .header .btnMenuBar {
    display: none;
  }
  body .container .header nav, body.bodyLightMode .container .header nav, body.bodyDarkMode .container .header nav {
    position: relative;
    top: auto;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    right: auto;
    width: auto;
    padding: 0;
    background-color: transparent;
  }
  body .container .header nav ::after, body.bodyLightMode .container .header nav ::after, body.bodyDarkMode .container .header nav ::after {
    display: none;
  }
  body .container .header nav :first-child, body.bodyLightMode .container .header nav :first-child, body.bodyDarkMode .container .header nav :first-child {
    margin-left: 80px;
  }
  body .container .header nav a, body.bodyLightMode .container .header nav a, body.bodyDarkMode .container .header nav a {
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 0;
    padding: 5px 10px;
    -webkit-transition-property: color;
    transition-property: color;
  }
  body .container .header nav a:hover, body.bodyLightMode .container .header nav a:hover, body.bodyDarkMode .container .header nav a:hover {
    color: #00439C;
    -webkit-transition: .5s;
    transition: .5s;
  }
  body .container main .main-text, body.bodyLightMode .container main .main-text, body.bodyDarkMode .container main .main-text {
    margin-top: 100px;
  }
  body .container main .main-text p, body.bodyLightMode .container main .main-text p, body.bodyDarkMode .container main .main-text p {
    max-width: 600px;
  }
  body .container main .controle, body.bodyLightMode .container main .controle, body.bodyDarkMode .container main .controle {
    width: 50%;
    left: 50%;
  }
  body .container main .controle img, body.bodyLightMode .container main .controle img, body.bodyDarkMode .container main .controle img {
    width: 100vw;
    right: -50%;
  }
  body.bodyLightMode .container .header nav a {
    color: #222222;
  }
}

@media screen and (min-width: 1200px) {
  body .container .header, body .container main, body .container footer, body.bodyLightMode .container .header, body.bodyLightMode .container main, body.bodyLightMode .container footer, body.bodyDarkMode .container .header, body.bodyDarkMode .container main, body.bodyDarkMode .container footer {
    padding-left: 100px;
    padding-right: 100px;
  }
  body .container main .controle, body.bodyLightMode .container main .controle, body.bodyDarkMode .container main .controle {
    width: 100%;
    left: 0;
  }
  body .container main .controle img, body.bodyLightMode .container main .controle img, body.bodyDarkMode .container main .controle img {
    width: 1000px;
    bottom: -50px;
  }
  body .container footer .colorOption, body.bodyLightMode .container footer .colorOption, body.bodyDarkMode .container footer .colorOption {
    width: 70px;
    height: 70px;
    border-radius: 20px;
  }
}
/*# sourceMappingURL=style.css.map */